@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Outfit", sans-serif;
    
    font-size: 15px;
    background: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card{
    width: 320px;
    height: 499px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: hsl(0, 0%, 100%);
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}


img{
    width: 288px;
    height: 288px;
    background: #2C7DFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 16px;
}

.info{
    height: 131px;
    width: 288px;
    margin: 8px;
    
    
}
h3{
    text-align: center;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    
}

p{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    margin: 16px;
    text-align: center;
    font-weight: 400;
    color: hsl(216, 15%, 48%)
}


footer{
    position: absolute;
    bottom: 0;
    font-size: 24px;

}





